.orderby_price h3{
    display: inline;
}
.orderby_letter h3{
    display: inline;
}
.container_page{
    display: grid;
    grid-template-columns: 0 auto;
    grid-template-rows: auto auto;
    grid-template-areas: " hd hd" "sort sort" "bd bd";
    
}
.subCategory{
    grid-area: hd;
    
    /* background-color: brown; */
    /* gap: 20px; */
    /* display: grid; */
    /* grid-template-rows: 10% auto; */
    /* grid-template-columns: 1fr 1fr; */
    /* background-color: gray; */
    font-size: 18px;
    font-weight: 600;
    border-bottom: 4px double rgb(196, 193, 193);
    padding: 20px 0px;
    grid-template-areas: "hds hds" "subC subC";

}

.subcatgoryTitleProduct{
grid-area: hds;
/* padding: 10px 30px; */
}
.subDiv{
    /* grid-area: subC;
    display: grid;
    grid-template-columns: 1fr 1fr; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}
.subImgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 9px;
    color: black;
  
}
.subImgDiv a{
    border-left: 2px solid rgb(196, 193, 193);
}
.subCategoryImg{
    width: 100px;
    height: 100px;
}
.subCategoryImg :hover{
    cursor: pointer;
}
.parSub{
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
}
.parSub :hover {
    cursor: pointer;
}
.side_bar{
    padding: 10px 10px;
    grid-area: sort;
    /* border-bottom: double rgb(196, 193, 193) 4px; */
    display: flex;
    justify-content: end;
    
}
.dropList{
    font-size: 16px;
}
.radio{
    display: block;
}
.sortHeader{
    font-size: 23px;
    font-weight: 100;
    margin: 20px 10px 20px 20px;
    
}
.showProduct{
    grid-area: bd;
display: flex;
flex-direction: column;
}
.All_Product{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    
    
}
.productDiv{
    width: 300px;
    height: 500px;
    
    border: 2px solid rgb(196, 193, 193);
   
    
}
.productImg{
    width: 130px;
    height: 180px;
    align-self: center;
    margin: 12px 0px;

}
.linkProduct{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    color: black;
}
.titlePar{
font-size: 20px;
font-weight: 600;
height: 100px;

}
.descriptionPar{
margin: 10px 0px;
padding: 10px;
font-size: 18px;
height: 100px;

}

.pricePar{
margin-top: 10px;
font-size: 18px;
font-weight: 600;
padding: 10px;
justify-self: flex-end;
}
.headerProduct{
    margin: 10px 30px;
}
.number_page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
.divPagination button{
    background: rgba(245, 222, 179, 0);
    /* border: none; */
    /* padding-left:rem; */
    padding: 0.2rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 800;
    border: rgb(94, 93, 93) 1px solid;
    cursor: pointer;
}