.imgCart{
    height: 120px;
    width: 120px;
    padding: 20px;

}
.headerCartTable{
    background-color: #0B4579;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.titleCell{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    height: 125px;
}
.quantityCell{
    padding: 5px 17px;
    display: flex;
    gap: 5px;
    justify-items: center;
    align-items: center;
    height: 125px;

}
.priceCell{
    padding: 5px 20px;
    font-size: 20px;
    text-align: center;
    height: 125px;

}
.totalCell{
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    height: 125px;

}
.inputQuantity{

font-weight: 500;
text-align: center;
width: 50px;

font-size: 20px;
height: 36px;
}
.deleteIcon{
font-size: 25px;
height: 36px;

display: flex;
justify-items: center;
align-items: center;
}
.checkotbtton{
    width: 300px;
  height: 70px;
  background-color: red;
  border: 0ch;
  font-size: 23px;
  color: white;
}
.totalPriceRow{
    font-size: 20px;
}
.tdtotalprice{
    border-top:3px solid black ;
}

