
.contenur_cart{
    min-height: 40rem;
   display: flex;
   justify-content: center;
}
.content_cart{
margin-bottom: 5rem;
}
.content_cart.active{
    display: none;
}
.imgCart{
    height: 120px;
    width: 120px;
    padding: 20px;


}
.headerCartTable {
  background-color: #0b4579;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.titleCell {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  height: 125px;
}
.quantityCell {
  padding: 5px 17px;
  display: flex;
  gap: 5px;
  justify-items: center;
  align-items: center;
  height: 125px;
}
.priceCell {
  padding: 5px 20px;
  font-size: 20px;
  text-align: center;
  height: 125px;
}
.totalCell {
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  height: 125px;
}
.inputQuantity {
  font-weight: 500;
  text-align: center;
  width: 50px;

  font-size: 20px;
  height: 36px;
}
.deleteIcon {
  font-size: 25px;
  height: 36px;

  display: flex;
  justify-items: center;
  align-items: center;
}
.checkotbtton {
  width: 300px;
  height: 70px;
  background-color: #b11616;
  border: 0ch;
  font-size: 23px;
  color: white;
}
.totalPriceRow {
  font-size: 20px;
}
.tdtotalprice {
  border-top: 3px solid black;
}


.Cash {
  height: 50px;
  width: 47rem;
  border-radius: 5px;
  background: #2c2e2f;
  font-size: larger;
  color: white;
}
.message_cart{
    display: none;
}
.message_cart.active{
    display: block;
    position: absolute;
    left: 45%;
    top: 50%;

}
@media (max-width: 700px){
    .contenur_cart{
        text-align: center;
        width: 100%;
        min-height: 40rem;
       display: flex;
      
    }
    .content_cart{
    /* margin-bottom: 5rem; */
    width: 100%;
    }
    .content_cart.active{
        display: none;
    }
    .content_cart table {
        width: 100%;
    }
    .imgCart{
        height: 7.5rem;
        width: 7rem;
        /* padding: 1rem; */
    
    }
    .headerCartTable{
        background-color: #0B4579;
        /* padding: 0.625rem; */
        width: 100%;
        font-size: 0.9rem;
        font-weight: 300;
        color: white;
    }
    .titleCell{
        /* padding: 0.313rem 0.625rem; */
        padding: 0 0;
        font-size: 0.9rem;
        font-weight: 400;
        height: 7.813rem;
    }
    .quantityCell{
        /* padding: 0.313rem 1.063rem; */
        padding: 0;
        gap: 0;
        display: flex;
        /* gap: 0.313rem; */
        justify-items: center;
        align-items: center;
        height: 7.813rem;
    
    }
    .priceCell{
        /* padding: 0.313rem 1.25rem; */
        /* font-size: 1.25rem; */
        padding: 0;
        text-align: center;
        height: 7.813rem;
    
    }
    .totalCell{
        /* padding: 0.313rem 0.625rem; */
        padding: 0;
        font-size: 1.25rem;
        text-align: center;
        height: 7.813rem;
    
    }
    .inputQuantity{
    
    font-weight: 400;
    text-align: center;
    width: 3.125rem;
    
    font-size: 1.25rem;
    height: 2.25rem;
    }
    .deleteIcon{
    font-size: 1.563rem;
    height: 2.25rem;
    
    display: flex;
    justify-items: center;
    align-items: center;
    }
    .checkotbtton{
        width: 15rem;
      height: 4rem;
      background-color: #b11616;
      border: 0ch;
      /* font-size: 1.438rem; */
      color: white;
    }
    .totalPriceRow{
        font-size: 1.25rem;
    }
    .tdtotalprice{
        border-top:3px solid black ;
    }
    
    .message_cart{
        display: none;
    }
    .message_cart.active{
        display: block;
        position: absolute;
        left: 24%;
        top: 50%;
    }
    .headerCartTable .nnn{
        display: none;
    }
}