
.continerAll_mainhomediv{
  padding-top: 0;
  margin-top: 0;
 
  border: 0; 



 
}
.mainhomediv{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; 

}
.continerAll_img_page{
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0; 

}
.continerAll_img_page img{
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0; 

}
.img {
  height: 300px;
  width: 100%;
  height: 600px;
}
.each-slide > div {

}
.test{

}

.each-slide span {
  
  padding: 20px;
  height: 1500px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.firstpageimg {
  width: 200px;

}


.test2{
  border-left-style: inset;
  height: 300px;
  align-items: center;
}

.header2 {
  width: 66%;
  height: 550px;
}
.header3 {
  height: 500px;
  width: 66%;
}

.prodacthome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-top: 20px;
}

.titlehome {
  width: 300px;
  font-size: 20px;
  text-align: center

}

.divPagination{
display: flex;

}

.input{
  border-style: outset;
  width: 60px;
  height: 30px;
  text-align: center;
}


.contener_side_product{
  margin-top: 1rem;
  margin-bottom:1rem ;
}



.img_separtor{
  width: 100%;
  height: 30rem;
  border: 0;
  margin: 0;
  padding: 15px;
}





.contener_prodect{
 text-align: center;
 border-left: 1px solid black;
 margin-left: 1.7rem;
  

}


.contener_img_product{
  width: fit-content;
  
  width: 100%;
}

.contener_titel_product{
  margin-top: 1rem;
  height: 9rem;
  padding: 1rem;
  text-align: left;
}
.contener_titel_product p{
font-size: 1.7rem;
font-weight: 400;
}

.contener_img_product img{
width: 15rem;
height: 16rem;
}


.contener_price{
  padding-bottom: 1rem;
} 
.contener_price span{
  font-size: 2rem;
  font-weight: 700;
}