
.continerAll_mainhomediv{
  padding-top: 0;
  margin-top: 0;
  border: 0; 
}
.mainhomediv{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; 

}
.continerAll_img_page{

}
.continerAll_img_page img{
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0; 

}
.img {

  width: 100%;
  height: 600px;
}
.each-slide > div {

}


.each-slide span {
  
  padding: 20px;
  height: 1500px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}




.test2{
  border-left-style: inset;
  height: 300px;
  align-items: center;
}

.header2 {
  width: 66%;
  height: 550px;
}
.header3 {
  height: 500px;
  width: 66%;
}

.prodacthome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin-top: 20px;
}

.titlehome {
  width: 300px;
  font-size: 20px;
  text-align: center

}

.divPagination{
display: flex;

}

.input{
  border-style: outset;
  width: 60px;
  height: 30px;
  text-align: center;
}


.contener_side_product{
  margin-top: 1rem;
  margin-bottom:1rem ;
}



.img_separtor{
  width: 100%;
  height: 30rem;
  border: 0;
  margin: 0;
  padding: 10px;
}





.contener_prodect{
 text-align: center;
 border-left: 1px solid black;
 margin-left: 1.7rem;
  

}


.contener_img_product{
  width: fit-content;
  
  width: 100%;
}

.contener_titel_product{
  margin-top: 1rem;
  height: 9rem;
  padding: 1rem;
  text-align: left;
}
.contener_titel_product p{
font-size: 1.3rem;
font-weight: 400;
}


/* slider product */
.contener_img_product img{
width: 10rem;
height: 10rem;
}

.content_product_slid{
  color: black;
}
.contener_price{
  padding-bottom: 1rem;
} 
.contener_price span{
  font-size: 30px;
  font-weight: 700;
}


.contener_all_product_main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.contener_one_product{
  width: 300px;
  height: 500px;
  
  border: 2px solid rgb(196, 193, 193);
}

.firstpageimg{
  width: 130px;
  height: 180px;
  align-self: center;
  margin: 12px 0px;
}

.linkproduct_mainpage{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
  color: black;
}

.titleproduct_main{
  font-size: 20px;
font-weight: 600;
height: 100px;
}
.dis_product_main{
  margin: 10px 0px;
padding: 10px;
font-size: 18px;
height: 100px;
}

.price_productmain{
  margin-top: 10px;
font-size: 18px;
font-weight: 600;
padding: 10px;
justify-self: flex-end;
}


/*.pricemain{
  color: black;
font-size: 27px;
}
.titlemainpage{
  font-size: 23px;
  color: black;}*/

.numper_page_home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

@media (max-width:1200px){
  .contener_img_product img{
    width: 12rem;
    height: 13rem;
    }

    .contener_prodect{
      text-align: center;
      border-left: 1px solid black;
      /* margin-left: 1.7rem; */
       
     
     }
     .contener_img_product{
      width: fit-content;
      
      width: 100%;
    }
    .contener_titel_product{
      margin-top: 0.5rem;
      height: 9rem;
      padding: 0.5rem;
      text-align: left;
    }
    .contener_titel_product p{
      font-size: 1rem;
      font-weight: 400;
      }
      .contener_price{
        padding-bottom: 1rem;
      } 
      .contener_price span{
        font-size: 1rem;
        font-weight: 700;
      }

}

@media (max-width:900px){
  .contener_img_product img{
    width: 8rem;
    height: 10rem;
    }

    .contener_prodect{
      text-align: center;
      border-left: 1px solid black;
      /* margin-left: 1.7rem; */
       
     
     }
     .contener_img_product{
      width: fit-content;
      
      width: 100%;
    }
    .contener_titel_product{
      margin-top: 0.3rem;
      height: 5rem;
      padding: 0.3rem;
      text-align: left;
    }
    .contener_titel_product p{
      font-size: 0.6rem;
      font-weight: 400;
      }
      .contener_price{
        padding-bottom: 0.5rem;
      } 
      .contener_price span{
        font-size: 0.6rem;
        font-weight: 700;
      }
      .img {

        width: 100%;
        height: 400px;
      }

}


@media (max-width:550px){
  .contener_img_product img{
    width: 5rem;
    height: 6rem;
    }

    .contener_prodect{
      text-align: center;
      border-left: 1px solid black;
      /* margin-left: 1.7rem; */
       
     
     }
     .contener_img_product{
      width: fit-content;
      
      width: 100%;
    }
    .contener_titel_product{
      margin-top: 0.3rem;
      height: 4rem;
      padding: 0.3rem;
      text-align: left;
    }
    .contener_titel_product p{
      font-size: 0.4rem;
      font-weight: 400;
      }
      .contener_price{
        padding-bottom: 0.5rem;
      } 
      .contener_price span{
        font-size: 0.6rem;
        font-weight: 700;
      }
      .img {

        width: 100%;
        height: 200px;
      }
      .img_separtor{
        width: 100%;
        height: 20rem;
        border: 0;
        margin: 0;
        padding: 10px;
      }
      


}