*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.search_continer input{
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 700;
}

.search_continer button{
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 700;
}


.all_result{
position: absolute;    
z-index: 10;
background: white;
width: 19rem;
}
.continer_result{
    display: flex;
    border-bottom: solid 2px black;
    padding: .5rem;
}
.all_result img {
    width: 60px;
    height: 50px;
}
