*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all_result_search{
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.continer_all_result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.one_result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    width: 300px;
    height: 500px;
    
    border: 2px solid rgb(196, 193, 193);
}
.one_result img{
    width: 130px;
    height: 180px;
}