/* .headRow{
    height: 50px;
} */
.head{
    height: 3rem;
    padding: 0rem 2rem;
    margin: 0;
    font-size: 1.2rem;
    color: white;
    background-color: #0B4579 ;
}
.body{
    height: 3rem;
margin: 0;
text-align: center;
font-size: 1.1rem;
border-bottom : 2px solid gray;

}
.userTablePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vw;
    overflow: auto;
}
.operButton{
    width: 100%;
    height: 2rem;
    font-size: 1.1rem;
    background-color: #b11616;
    font-weight: 700;
    color: white;
}
.rowBody{
    border: 2px solid gray;
}