footer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background: black;
}

footer h2{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing:1.5px;
    margin-bottom: 0.5rem;
    padding-top: 10px;
}
.left_box p{
    
    text-align: left;
    font-size: 1.7rem;
    height: 150px;
}

.left_box{
    width: 350px;
    text-align: center;
   
}

.social{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.9rem;
}
.social a{
color: aliceblue;
margin-left: 1.5rem;
font-size: 2.5rem;
border-bottom: solid 1px white;
}


.center_box span{
    font-size: 2rem;
 
}
.phone{
    margin-top: 2.2rem;
   
}
.email{
    margin-top: 2.3rem;
    
}
.place{
    margin-top: 2.2rem;
   
}
.content_center{
    text-align: left;
}

.right_box .name{
    border: 0;
    margin: 0;

}
.right_box .email{
    border: 0;
    margin-top: 1rem;

}


.right_box form input{
    width: 20rem;
    font-size: 1.5rem;
   border-radius: 5px;
}

.right_box form textarea{
    width: 30rem;
    font-size: 1.5rem;
   border-radius: 5px;
   height: 5rem;

}
.right_box .text_area{
    margin-top: 1rem;
}
/* .main_content_footer form button{
    margin-top: 1rem;
    width: 7rem;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 3px;
    cursor: pointer;

} */
.submit_send_email{
    margin-top: 1rem;
    width: 7rem;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 3px;
    cursor: pointer;

}

.submit_send_email.active{
    display: none;
}
.righi_send{
    display: none;
}
.righi_send.active{
    display: block;
    font-size: 2rem;
   

}
.righi_send_span{
    font-size: 2rem;
    color: rgb(24, 201, 24);
}
@media (max-width:1250px){
    .right_box form textarea{
        width: 20rem;
        font-size: 1.5rem;
       border-radius: 5px;
       height: 5rem;
    
    }
}

@media (max-width:1100px){
    .right_box form textarea{
        width: 20rem;
        font-size: 1.5rem;
       border-radius: 5px;
       height: 5rem;
    
    }
    footer{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        background: black;
    }

    .left_box{
        margin-bottom: 3rem;
    }
    .center_box{
        text-align: center;
        margin-bottom: 3rem;
    }
    .right_box{
        text-align: center;
    }
    footer h2{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing:1.5px;
        margin-bottom: 0.5rem;
        padding-top: 10px;
    }
    .left_box p{
    
        text-align: left;
        font-size: 1.4rem;
        height: 150px;
    }

    .center_box span{
        font-size: 1.4rem;
     
    }
}

@media (max-width:500px){
    .right_box form input{
        width: 17rem;
        font-size: 1rem;
       border-radius: 5px;
    }
    .right_box form textarea{
        width: 17rem;
        font-size: 1.5rem;
       border-radius: 5px;
       height: 5rem;
    
    }
}