.addNewsChild {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.divLabel {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 0rem 1.5rem;
}
.labelNew {
  font-weight: 600;
  font-size: 1.3rem;
}
#title {
  margin: 1rem 0rem 0rem 1rem;
}
.inputCreate {
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 40%;

}
.newsinput {
  font-size: 1.3rem;
  height: 5rem;
  margin-top: 1rem;
  width: 40%;
}
.uploadCreat {
  margin-top: 1rem;
  width: 40%;
  height: 2.2rem;
  font-size: 1.1rem;
  background-color: #b11616;
  font-weight: 700;
  color: white;
}
.createProduct{
  width: 100%;
  height: 70vw;
  overflow: auto;
}