*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);

}
footer{
    width: 100%;
   
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}



.main-content div{
width: 400px;
height: 30px;
text-align:center;
}
.main-content div p{
    margin-top: 20px;
    font-size:1.5rem ;
    text-align: left;
}

.main-content div .social{
    margin-top: 30px;
}

.main-content div .social a span{
    margin-right: 1.5rem;
    font-size: 2rem;
}

.main-content h2{
    font-size: 2rem;
    text-transform: uppercase;
} 



.center_box .content_center{
text-align: left;

font-size: 2rem;
}

.center_box .content_center div{
   margin-top: 25px;
}

.right_box .content form .email{
   
margin-top: 20px;
}
.right_box .content form .email input{
    width: 20rem;
    height: 1.9rem;
    font-size: 1.5rem;
    border-radius: 5px;
}
.right_box .content form .text_area textarea{
    width: 20rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}


.right_box .content form .text_area{
   margin-top: 20px;
}

.right_box .content form .btn{
    margin-top: 50px;
 
}

.right_box .content form .btn button{
    width: 7rem;
    padding: 0.5rem 0;
    margin-bottom: 20px;
    background: black;
    color: aliceblue;
    font-size: large;
    font-weight: 600;
}