.imgTable {
  height: 50px;
  width: 51px;
}
.contenur_product_taple {
  width: 100%;
  height: 70vw;
  overflow: auto;
}
.description {
  overflow: auto;

  height: 9rem;
  margin: 10px;
  text-align: center;
  font-size: 1.1rem;
  border-bottom: 2px solid gray;
}
.bodyrow {
}
.descriptionPar {
  height: 8rem;
  padding-bottom: 0.5rem;
}
.updateinput {
  height: 2rem;
  padding: 0.5rem;
  width: 90%;
  text-align: center;
}
.updateinputImg {
  height: 2rem;
  width: 90%;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.spanStock{
    color: #b11616;
    font-weight: 600;
}
.lowQuan{
    height: 3rem;
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    border-bottom : 2px solid gray;
    background-color: #b11616;
    color: white;
}
.uploadButton{
    width: 90%;
    height: 2rem;
    text-align: center;
    font-size: 1.1rem;
    background-color: #b11616;
    font-weight: 700;
    color: white;
}
.url {
  overflow: auto;
  width: 20rem;
}
.quantityInput {
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: 700;
}
