/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
* {
  padding: 0;
  margin: 0;

  /* font-family: 'Poppins', sans-serif; */

  box-sizing: border-box;
  
}

.routesdiv_admin{
  display: flex;
  
  flex-direction: row;
  overflow: hidden;
  width: auto;
  height:50rem;
  border-bottom: 3px black solid;
}




 .contener_img2{


  display: none;
}

.App {
  display: flex;
}
.mainphotos {
  height: 1000px;
  position: sticky;
  top: 0px;
}
.mainphotosclass {
  height: 950px;



}



.mainphotosclass{
  display: none;
}


button:hover{
  cursor: pointer
}



  @media (max-width:1500px){
     .mainphotosclass{
      display: none;
    } 



  

  .react-slideshow-container {
    width: 79rem;
  }


  .App {
    display: flex;
  }
  .mainphotos {
    position: sticky;
  }
}


.react-slideshow-container {
  width: 79rem;
}

.App {
  display: flex;
}
.mainphotos {
  position: sticky;
}



.routesdiv{
  width: 600%;
}