* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.react-slideshow-container {
  width: 79rem;
}

.App {
  display: flex;
}
.mainphotos {
 height: 1000px;
  position: sticky;
top: 0px;
}
.mainphotosclass{
  height: 950px;

}

button:hover{
  cursor: pointer
}


