.containeeer_rigister {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30rem;
  padding: 1rem 2.2rem;
  
}


.form_rigister {
  text-align: center;
  padding: 10px;
  width: 100%;
}
.space {
  display: flex;
  gap: 5rem;}
.parRegister{
  margin: 1rem 2.2rem;
}
.parAndInputDev{
  width: 40%;
  margin: 20px;
  justify-self: center;
  align-self: center;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.varInput{
  width: 5rem;
  font-size: 20px;
  height: 3rem;
}
.verButton{
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #b11616;
  font-size: 20px;
  width: 10rem;
  height: 50px;
  margin-bottom: 1rem;
}
.titel_regester{
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 10px 20px ;

}
.regstierinputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    
}
.inputname{
    display: flex;
    flex-direction: column;
    gap: 33px;
    text-align: start;
    width: 100%;
}
.input_user{
  display: grid;
  grid-template-columns: 10rem auto;
  /* gap: 2rem; */
}
.registerButton{
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #b11616;
  font-size: 20px;
  width: 10rem;
  height: 50px;
  margin-bottom: 1rem;
}
.countryRegister{
  font-size: 20px;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
  background-color: #f3f3f3;
  width: 16rem;
}
.h3{
    display: flex;
    gap: 20px;
}
.verfiedDiv{
  min-height: 50vw;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.star{
    color: #b11616;
    margin-right: 0.3em;
    font-weight: bold;
}
.titel_regester {
  font-size: 1.7rem;
  font-weight: 600;
}
.form_rigister label {
  display: block;
  font-size: 1.7rem;
}

.country_user select {
  padding: 0;
  margin: 0;
  padding: 7px;
  font-size: 0.96rem;
  font-weight: 500;
}

.form_rigister input {
  width: 25rem;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
  background-color: #f3f3f3;
height: 2rem;
font-size: 20px;
}

.form_rigister button {

  background: white;
  color: black;
  font-size: 2rem;
  width: 9rem;
  margin-left: 1rem;
  height: 3rem;
  font-weight: 600;
  cursor: pointer;
}
.Register {
  color: #b11616;
  margin-left: 2rem;
  margin-top: 1rem;
}

  /*  border-radius: 3px;
    font-size: 2rem;
    width: 9rem;
    margin-left: 1rem;
    height: 3rem;
    font-weight: 600;
    cursor: pointer;
    width: 300px;
    height: 70px;
    background-color: #b11616;
    border: 0ch;
    font-size: 23px;
    color: white;
}*/

@media (max-width: 650px) {
 
  .input_user{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
  }
}

