.containeeer_rigister {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30rem;
  
}


.form_rigister {
  text-align: center;
  padding: 10px;
}
.space {
  display: flex;
  gap: 5rem;



.titel_regester{
    color: white;
    background-color: #0B4579;
    /* border-bottom:solid black 3px ; */
    /* padding: 7px; */
    font-size: 1.7rem;
    font-weight: 600;

}
.regstierinputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    background-color: #f3f3f3d2;
}
.inputname{
    display: flex;
    flex-direction: column;
    gap: 33px;
    text-align: start;
}
.h3{
    display: flex;
    gap: 20px;
}
.star{
    color: #f00;
    margin-right: 0.3em;
    font-weight: bold;
}
.titel_regester {
  font-size: 1.7rem;
  font-weight: 600;
}
.form_rigister label {
  display: block;
  font-size: 1.7rem;
}

.country_user select {
  padding: 0;
  margin: 0;
  padding: 7px;
  font-size: 0.96rem;
  font-weight: 500;
}

.form_rigister input {
  width: 25rem;
  border-bottom-color: #f3f3f3;
  border-right-color: #f3f3f3;
  background-color: #f3f3f3;
height: 2rem;
font-size: 20px;
}

.form_rigister button {

  background: white;
  color: black;
  font-size: 2rem;
  width: 9rem;
  margin-left: 1rem;
  height: 3rem;
  font-weight: 600;
  cursor: pointer;
}
.Register {
  color: red;
  margin-left: 2rem;
  margin-top: 1rem;
}

  /*  border-radius: 3px;
    font-size: 2rem;
    width: 9rem;
    margin-left: 1rem;
    height: 3rem;
    font-weight: 600;
    cursor: pointer;
    width: 300px;
    height: 70px;
    background-color: #b11616;
    border: 0ch;
    font-size: 23px;
    color: white;
}*/

