* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.navbar {
    padding: 1.5rem;


}

.navUser {
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.logo_name {
    font-family: 'The Histoia Demo', sans-serif;
    font-size: 2.7rem;
    background: linear-gradient(to top, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}


.my_account_contener {

    padding: 0;
    margin: 0;

    cursor: pointer;
}





.myaccount_logo {
    padding: 1rem;
    color: #080808;
    background: #ffffff;

}

.my_account_contener .ul {
    position: absolute;
    right: -100rem;
    list-style: none;
    transform: initial;
    text-align: center;
    display: none;

}



.my_account_contener .ul.active {
    margin-top: 1rem;
    width: 12rem;
    position: absolute;
    right: auto;
    z-index: 10;
    background: #ffffff;
    border: 5px solid transparent;
    border-top: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 1s;
    display: block;


}

.my_account_contener ul .li_1 {

    border: 10px solid rgb(0, 0, 0);
    border-bottom: 5px solid black;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}




.my_account_contener ul .li_2 {

    border: 10px solid rgb(0, 0, 0);
    border-top: 5px solid black;
    transform: initial;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.my_account_contener li a {
    color: #000000;
    font-size: 2rem;
    font-weight: 900;
    transform: initial;
}

.my_account_contener li a:hover {
    font-size: 2.2rem;
    transition: 0.1s;
    font-weight: 1000;
}

.icons {
    background: #ffffff;
    border: 0;
    margin: 0 1rem;
    box-sizing: border-box;
    width: min-content;
    height: min-content;
    border-radius: 5px;
    display: inline-block;

}

.contener_logcart {
    color: black;
}