.categoryBar{
    border-top: 0.009px  solid rgb(37, 36, 36);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    background-color:  #f5f5f5;
   
    margin-bottom: 0;
}

.categoryBar a{
    color: black;
    font-family: 'The Histoia Demo',sans-serif;
    font-size: 1.7rem;
   font-weight: 700;
}